<div id="<%= dom_id menu %>">
  <p>
    <strong>Shop:</strong>
    <%= menu.shop_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= menu.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= menu.protein %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= menu.calories %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

</div>
